<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.itsdf07.app.user">

    <application
        android:name=".ModuleUserApplication"
        android:allowBackup="true"
        android:label="组件模块:User"
        android:supportsRtl="true"
        tools:replace="android:label">
        <activity android:name=".UserActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
